.nav-item{
    text-align: right;
}
#typeahead-template{
    background-color: transparent;
    color: #FFF;
    border: none;
    border-radius: 0px;
    border-bottom: white 2px solid;
}
.results_template{
    background-color: #060b30;
}

::ng-deep .dropdown-menu {  
    background-color: #060b30;
    border: white 1px solid;
}

.my_input{
    max-width: 220px;
    margin-left: 20px;
    margin-right: 30px;
}